* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 30px 40px;
    margin: 50px;
}

.image-container {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 70px;
}

.logo-text {
    display: flex;
}

.logo-text a {
    padding: 10px;
    text-decoration: none;
    color: rgb(130, 177, 132);
}

.text-container {
    display: flex;
    justify-content: space-between;
}

.text {
    margin: 30px 0px;
}

.text h1 {
    margin: 15px 0px;
}

.text p {
    margin-bottom: 35px;
}

.btn-container button a {
    text-decoration: none;
}

.btn-container {
    display: flex;
}

.transcript-btn {
    margin: 0px 20px 20px 0px;
}

.transcript-btn button {
    background-color: green;
    border: green 2px solid;
}

.transcript-btn a {
    color: white;
}

.verify-btn button {
    border: 2px solid rgb(164, 199, 166);
    background-color: white;
}

.verify-btn a {
    color: green;
}

.btn-container button {
    width: 200px;
    padding: 10px;
    border-radius: 30px;
}

.diagonal-image img {
    width: 250px;
}

.diagonal-image {
    position: absolute;
    width: 180px;
    height: 250px;
    top: 3px;
    right: 110px;
}

.diagonal-image2 img {
    height: 170px;
}

.diagonal-image2 {
    position: absolute;
    width: 300px;
    height: 230px;
    bottom: 20px;
    left: 20px;
}

.lounge-image img {
    width: 500px;
}

#shapes {
    position: relative;
    width: 600px;
    height: 400px;
}

.lounge-image {
    position: absolute;
    top: 20px;
    left: 40px;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: rgb(111, 85, 255);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    position: absolute;
    bottom: 45px;
    left: -30px;
}

.circle2 {
    width: 20px;
    height: 20px;
    background-color: rgb(207, 215, 255);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
    top: -20px;
    right: 350px;
}

.rectangle {
    width: 200px;
    height: 240px;
    background-color: rgb(198, 241, 199);
    position: absolute;
    top: -30px;
    right: 30px;
}

.login-container {
    padding: 20px 30px;
    margin: 30px;
}

.logo-image img {
    width: 60px;
}

.login-image {
    width: 450px;
    height: 300px;
}

.login-image img {
    width: 450px;
}

.login-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-text {
    border-top: 5px solid green;
    padding: 10px 30px;
    height: 470px;
    border-radius: 15px;
    box-shadow: -1px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-text h2 {
    text-align: center;
    margin: 20px;
}

.input {
    margin: 20px 0px;
}

input {
    padding: 8px;
    width: 300px;
    border: 2px solid rgb(228, 242, 250);
    background-color: rgb(228, 242, 250);
    border-radius: 20px;
}

.input p {
    margin: 5px 0px
}

.login-button button {
    margin: 30px 0px 30px 60px;
    border: 2px solid green;
    background-color: green;
    border-radius: 20px;
    width: 180px;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
}

.login-button-text {
    text-align: center;
    margin: 20px 0px 30px 0px;
}

.login-button-text a {
    color: rgb(74, 143, 77)
}

.forgot-password {
    text-align: center;
}

.forgot-password a {
    color: black;
    text-decoration: none;
}

.nav-container {
    position: fixed;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: blue;
}

nav div {
    margin: 10px 20px;
}

.logos-image img {
    width: 30px;
}

.dashboard-box {
    display: flex;
    padding-top: 60px;
}

.dashboard-sidebar {
    height: 100vh;
    width: 230px;
    background-color: black;
    color: white;
    padding: 70px 15px;
    line-height: 50px;
    margin-right: 20px;
}

.dashboard {
    padding: 20px;
}

.dashboard h2 {
    padding: 10px 0px;
}

.square {
    background-color: white;
    height: 100px;
    width: 190px;
    border-left: 5px solid green;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.3);
}

.mini-box-shape {
    margin-top: 20px;
    display: flex;
}

.dashboard-mini-box p {
    font-size: 13px;
    margin: 7px 0px;
}

.dashboard-mini-box h4 {
    font-size: 15px;
}

.dashboard-mini-box a {
    text-decoration: none;
    color: green;
    font-size: 25px;
}

.max-box-text-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.max-box-table {
    display: flex;
}

table {
    width: 500px;
}

th {
    text-align: left;
}

th,
td {
    border-bottom: 1px solid green;
    border-collapse: collapse;
}

table {
    border: 1px solid green;
}